source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget Expecto
nuget Expecto.FsCheck
nuget FParsec
nuget MathNet.Numerics.FSharp
nuget Microsoft.Net.Test.Sdk
nuget Unquote
nuget YoloDev.Expecto.TestSdk
nuget Markdig
nuget Aether
nuget ClosedXML
